body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 20px;
}
header{
	background-color: black;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 50px;

}

h1, h2{
	font-family: 'Black Han Sans', sans-serif;
}

header h1{
	color: white;
	font-size: 50px;

}

main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 5px;
}

main img{
	max-width: 100%;
}


header img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #1C1932;
}

a{
	color: #1C1932;
}
a:hover{
	background-color: #483a94;
	color: white;
}

footer{
	background-color: black;
	text-align: center;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer p{
	margin: 0;
}

p.caption{
	color: #999999;
}

.image-container {
    position: relative;
    /* Remove the parts of the circle that is outside of the image */
    overflow:hidden;
}
.image-container:after {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    /* Add more width */
    width: 120%;
    /* To form a square, the padding-bottom, needs to have the same value as the width property */
    padding-bottom: 120%;
    box-shadow: inset 0px 0px 150px 60px rgba(0,0,0,0.8);
    border-radius: 50%;
}